name: Tests
on:
  push:
    branches: ['master']
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      RAILS_ENV: test

    strategy:
      fail-fast: false
      matrix:
        include:
          ### TEST ALL RUBY VERSIONS
          - ruby: "2.6"
          - ruby: "2.7"
          - ruby: "3.0"
          - ruby: "3.1"
          - ruby: "3.2"
          - ruby: "3.3"
          - ruby: "3.4"
          - ruby: "4.0"

    steps:
    - uses: actions/checkout@v3

    - name: Install ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: "${{ matrix.ruby }}"
        bundler-cache: true

    - name: Run tests
      run: |
        RUBYOPT='--enable-frozen-string-literal' bundle exec rake
